<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsuO9OnmLXuC4Z7TXYNh2Cza6MyywE664</string>
	<key>GCM_SENDER_ID</key>
	<string>883831859086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kdadjunior.Kdad-Library-App</string>
	<key>PROJECT_ID</key>
	<string>kdad-library-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kdad-library-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883831859086:ios:315a32a60ba5c90fca66df</string>
</dict>
</plist>